* {
  margin: 0;
  padding: 0;
}
body {
  background: #ECEBEB;
}
textarea,
input,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.fix:after {
  display: block;
  content: '\20';
  height: 0;
  clear: both;
}
.hide {
  display: none;
}
.box {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.flex-1 {
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
}
.overlay {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}
header {
  height: 46px;
  line-height: 46px;
  background: #ffffff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFW…JyIj8+CcAc6QAAABdJREFUeNpi/P//PwMIMF6/fh3MAggwAEabBoRI+ZDXAAAAAElFTkSuQmCC) repeat-x 0 bottom;
  background-size: auto 1px;
  padding: 0 10px;
  text-align: center;
  color: #333;
  position: relative;
  font-size: 14px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  z-index: 300;
}
header a.active {
  color: #FF8C50;
}
header .icon {
  width: 25px;
  height: 100%;
  display: block;
}
header .me {
  background: url(../img/personal_icon_normal.png) no-repeat center;
  background-size: auto 24px;
}
header .channel {
  height: 46px;
}
header .search {
  background: url(../img/search_icon_normal.png) no-repeat center;
  background-size: auto 24px;
}
.index-head {
  line-height: 46px;
}
.index-head .channel {
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  margin: 0 15px;
  color: #666;
}
.index-head .channel .wrap {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.index-head .channel .wrap a {
  display: block;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
}
.slider {
  height: 160px;
  overflow: hidden;
  margin: 5px;
}
.slider .wrap {
  display: inline-block;
  white-space: nowrap;
  height: 160px;
}
.slider .wrap .item {
  display: inline-block;
  height: 160px;
  white-space: nowrap;
}
.slider .wrap .item img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.channels {
  margin: 5px 2px;
}
.channels .line {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.channels .line .item {
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  width: 23%;
  margin: 4px;
  border-radius: 5px;
  display: block;
}
.channels .line .item .icon {
  width: 20px;
  height: 20px;
  margin: 4px auto 2px;
  background: url(../img/quick_entry_all.png) no-repeat center;
  background-size: auto 20px;
}
.channels .line .item .txt {
  font-size: 8px;
  text-align: center;
  margin-bottom: 4px;
  color: #FFF;
}
.channels .line .movie {
  background: #f25e84;
}
.channels .line .tv {
  background: #b677dd;
}
.channels .line .variety {
  background: #47b9e9;
}
.channels .line .anime {
  background: #728be7;
}
.channels .line .game {
  background: #35c977;
}
.channels .line .ticket {
  background: #e7b82b;
}
.channels .line .documentary {
  background: #f47a49;
}
.channels .line .all {
  background: #ed5656;
}
.mine {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.mine a {
  line-height: 20px;
  font-size: 14px;
  padding-left: 20px;
  background: url(../img/quick_entry_play_his.png) no-repeat left;
  background-size: auto 20px;
  display: block;
  border-right: 1px solid #DFDFDF;
  margin-right: 8px;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
}
.mine a:last-child {
  border: none;
  margin-right: 0;
}
