* {
  margin: 0;
  padding: 0;
}
body {
  background: #ecebeb;
}
textarea,
input,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.fix:after {
  display: block;
  content: '\20';
  height: 0;
  clear: both;
}
.hide {
  display: none;
}
.box {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.flex-1 {
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
}
.overlay {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}
header {
  height: 46px;
  line-height: 46px;
  background: #ffffff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFW…JyIj8+CcAc6QAAABdJREFUeNpi/P//PwMIMF6/fh3MAggwAEabBoRI+ZDXAAAAAElFTkSuQmCC) repeat-x 0 bottom;
  background-size: auto 1px;
  padding: 0 10px;
  text-align: center;
  color: #333;
  position: relative;
  font-size: 14px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  z-index: 300;
}
header a.active {
  color: #ff8c50;
}
header .icon {
  width: 25px;
  height: 100%;
  display: block;
}
header .me {
  background: url(../img/personal_icon_normal.png) no-repeat center;
  background-size: auto 24px;
}
header nav {
  height: 46px;
}
header .search {
  background: url(../img/search_icon_normal.png) no-repeat center;
  background-size: auto 24px;
}
header.index {
  line-height: 46px;
}
header.index .wrap {
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  margin: 0 15px;
  color: #666;
}
header.index nav {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
header.index nav a {
  display: block;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
}
.slider {
  height: 160px;
  overflow: hidden;
  margin: 5px 8px;
  position: relative;
}
.slider .wrap {
  display: inline-block;
  white-space: nowrap;
  height: 160px;
}
.slider .wrap .item {
  display: inline-block;
  height: 160px;
  white-space: nowrap;
}
.slider .wrap .item img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.slider .points {
  position: absolute;
  width: 100%;
  bottom: 8px;
  text-align: center;
}
.slider .points span {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0 2px;
  display: inline-block;
  background: #666;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
}
.slider .points span.active {
  background: #FFF;
}
nav.channels {
  margin: 5px 4px;
}
nav.channels .line {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
nav.channels .line .item {
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  width: 23%;
  margin: 4px;
  padding: 2px 0;
  border-radius: 5px;
  display: block;
}
nav.channels .line .icon {
  width: 24px;
  height: 24px;
  margin: 6px auto 2px;
  background: url(../img/quick_entry_all.png) no-repeat center;
  background-size: auto 24px;
}
nav.channels .line .txt {
  font-size: 12px;
  text-align: center;
  margin-bottom: 6px;
  color: #FFF;
}
nav.channels .line .movie {
  background: #f25e84;
}
nav.channels .line .movie .icon {
  background: url(../img/quick_entry_film.png) no-repeat center;
  background-size: auto 24px;
}
nav.channels .line .tv {
  background: #b677dd;
}
nav.channels .line .tv .icon {
  background: url(../img/quick_entry_tv_series.png) no-repeat center;
  background-size: auto 24px;
}
nav.channels .line .variety {
  background: #47b9e9;
}
nav.channels .line .variety .icon {
  background: url(../img/quick_entry_variety.png) no-repeat center;
  background-size: auto 24px;
}
nav.channels .line .anime {
  background: #728be7;
}
nav.channels .line .anime .icon {
  background: url(../img/quick_entry_anime.png) no-repeat center;
  background-size: auto 24px;
}
nav.channels .line .game {
  background: #35c977;
}
nav.channels .line .game .icon {
  background: url(../img/quick_entry_all.png) no-repeat center;
  background-size: auto 24px;
}
nav.channels .line .ticket {
  background: #e7b82b;
}
nav.channels .line .ticket .icon {
  background: url(../img/quick_entry_all.png) no-repeat center;
  background-size: auto 24px;
}
nav.channels .line .documentary {
  background: #f47a49;
}
nav.channels .line .documentary .icon {
  background: url(../img/quick_entry_all.png) no-repeat center;
  background-size: auto 24px;
}
nav.channels .line .all {
  background: #ed5656;
}
nav.channels .line .all .icon {
  background: url(../img/quick_entry_all.png) no-repeat center;
  background-size: auto 24px;
}
.mine {
  margin: 8px;
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.mine a {
  line-height: 20px;
  font-size: 14px;
  padding-left: 20px;
  background: url(../img/quick_entry_play_his.png) no-repeat left;
  background-size: auto 20px;
  display: block;
  border-right: 1px solid #DFDFDF;
  margin-right: 6%;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
}
.mine a.history {
  background: url(../img/quick_entry_play_his.png) no-repeat left;
  background-size: auto 20px;
}
.mine a.offline {
  background: url(../img/quick_entry_offline.png) no-repeat left;
  background-size: auto 20px;
}
.mine a.favorite {
  background: url(../img/quick_entry_tv.png) no-repeat left;
  background-size: auto 20px;
}
.mine a:last-child {
  border: none;
  margin-right: 0;
}
.channel {
  margin: 8px;
  border: 1px solid #DDD;
  border-radius: 5px;
  background: #FFF;
}
.channel nav {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  background: #ecebeb;
}
.channel nav a {
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  border: 1px solid #DDD;
  border-width: 0 1px 1px 0;
}
.channel nav a.active {
  height: 39px;
  background: #FFF;
  border-top: 2px solid #ff8c50;
  color: #ff8c50;
  border-bottom-width: 0;
}
.channel nav a.active:first-child {
  border-top-left-radius: 5px;
}
.channel nav a:last-child {
  border-right-width: 0;
}
.channel nav a.active:last-child {
  border-top-right-radius: 5px;
}
.channel .items {
  background: #FFF;
}
.channel .items .item {
  display: none;
  padding: 6px;
}
.channel .items .item a {
  width: 50%;
  float: left;
  display: block;
}
.channel .items .item a .thumb {
  margin: 6px;
  position: relative;
  overflow: hidden;
}
.channel .items .item a .thumb img {
  width: 100%;
  height: 100px;
}
.channel .items .item a .thumb .info {
  position: absolute;
  left: 8px;
  bottom: 4px;
  font-size: 14px;
  color: #FFF;
}
.channel .items .item a .title {
  height: 2.4em;
  margin: 6px;
  line-height: 1.2em;
  font-size: 13px;
  overflow: hidden;
}
.channel .items .item.active {
  display: block;
}
.channel .more {
  display: block;
  margin: 0 12px 12px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #CCC;
}
