<header class="list-head">
  <a class="back" href="/">首页</a>
  <div class="list-type-cnt">
    <div class="list-type">
      <a href="/workers">推拿师</a>
      <a href="/stores" class="active">推拿店</a>
    </div>
  </div>
  <a class="city" href="#">{{.params.vid}}</a>
</header>
<nav class="list-nav">
  <div class="cat fix">
      <a href="javascript:void(0)" class="item">全部价格<i class="drop"></i></a>
      <a href="javascript:void(0)" class="item">全部区域<i class="drop"></i></a>
      <a href="javascript:void(0)" class="item">综合排序<i class="drop"></i></a>
  </div>
  <section class="selector hide">
    <p class="item active">全部价格</p>
    <p class="item">300-400元</p>
    <p class="item">200-300元</p>
    <p class="item">100-200元</p>
    <p class="item">50-100元</p>
  </section>
  <section class="selector hide">
    <div>
      <p class="item active">全部区域</p>
      <p class="item">上城区</p>
      <p class="item">下城区</p>
      <p class="item">拱墅区</p>
      <p class="item">江干区</p>
      <p class="item">西湖区</p>
      <p class="item">滨江区</p>
      <p class="item">临安</p>
      <p class="item">富阳</p>
      <p class="item">萧山区</p>
      <p class="item">余杭区</p>
      <p class="item">淳安县</p>
      <p class="item">建德市</p>
    </div>
  </section>
  <section class="selector hide">
    <p class="item active">综合排序</p>
    <p class="item">按评价</p>
    <p class="item">按经验</p>
    <p class="item">按服务数</p>
  </section>
</nav>
<ul class="search-list">
  <li>
    <a class="item fix" href="/worker/18615887">
      <div class="pic">
          <img src="{{asset "img/store.jpg"}}">
      </div>
      <div class="content">
        <div class="name">
          <h3 class="workername">苑苑文三路店</h3>
        </div>
        <div class="detail">
          <p>商圈: 华星时代广场</p>
          <p>评价: <span class="star star-50"></span></p>
          <p>经验: 专业推拿二十年</p>
          <p>价格: ￥50~￥300</p>
          <p>距离: 1500m</p>
        </div>
      </div>
    </a>
  </li>
  <li>
      <a class="item fix" href="/worker/18615887">
        <div class="pic">
            <img src="{{asset "img/store.jpg"}}">
        </div>
        <div class="content">
          <div class="name">
            <h3 class="workername">苑苑文三路店</h3>
          </div>
          <div class="detail">
            <p>商圈: 华星时代广场</p>
            <p>评价: <span class="star star-45"></span></p>
            <p>价格: ￥50~￥300</p>
            <p>距离: 1500m</p>
          </div>
        </div>
      </a>
  </li>
  <li>
      <a class="item fix" href="/worker/18615887">
        <div class="pic">
            <img src="{{asset "img/store.jpg"}}">
        </div>
        <div class="content">
          <div class="name">
            <h3 class="workername">苑苑文三路店</h3>
          </div>
          <div class="detail">
            <p>商圈: 华星时代广场</p>
            <p>评价: <span class="star star-40"></span></p>
            <p>价格: ￥50~￥300</p>
            <p>距离: 1500m</p>
          </div>
        </div>
      </a>
  </li>
  <li>
      <a class="item fix" href="/worker/18615887">
        <div class="pic">
            <img src="{{asset "img/store.jpg"}}">
        </div>
        <div class="content">
          <div class="name">
            <h3 class="workername">苑苑文三路店</h3>
          </div>
          <div class="detail">
            <p>商圈: 华星时代广场</p>
            <p>评价: <span class="star star-35"></span></p>
            <p>价格: ￥50~￥300</p>
            <p>距离: 1500m</p>
          </div>
        </div>
      </a>
  </li>
  <li>
      <a class="item fix" href="/worker/18615887">
        <div class="pic">
            <img src="{{asset "img/store.jpg"}}">
        </div>
        <div class="content">
          <div class="name">
            <h3 class="workername">苑苑文三路店</h3>
          </div>
          <div class="detail">
            <p>商圈: 华星时代广场</p>
            <p>评价: <span class="star star-30"></span></p>
            <p>价格: ￥50~￥300</p>
            <p>距离: 1500m</p>
          </div>
        </div>
      </a>
  </li>
  <li>
      <a class="item fix" href="/worker/18615887">
        <div class="pic">
            <img src="{{asset "img/store.jpg"}}">
        </div>
        <div class="content">
          <div class="name">
            <h3 class="workername">苑苑文三路店</h3>
          </div>
          <div class="detail">
            <p>商圈: 华星时代广场</p>
            <p>评价: <span class="star star-20"></span></p>
            <p>价格: ￥50~￥300</p>
            <p>距离: 1500m</p>
          </div>
        </div>
      </a>
  </li>
  <li>
      <a class="item fix" href="/worker/18615887">
        <div class="pic">
            <img src="{{asset "img/store.jpg"}}">
        </div>
        <div class="content">
          <div class="name">
            <h3 class="workername">苑苑文三路店</h3>
          </div>
          <div class="detail">
            <p>商圈: 华星时代广场</p>
            <p>评价: <span class="star star-10"></span></p>
            <p>价格: ￥50~￥300</p>
            <p>距离: 1500m</p>
          </div>
        </div>
      </a>
  </li>
  <li>
      <a class="item fix" href="/worker/18615887">
        <div class="pic">
            <img src="{{asset "img/store.jpg"}}">
        </div>
        <div class="content">
          <div class="name">
            <h3 class="workername">苑苑文三路店</h3>
          </div>
          <div class="detail">
            <p>商圈: 华星时代广场</p>
            <p>评价: <span class="star star-0"></span></p>
            <p>价格: ￥50~￥300</p>
            <p>距离: 1500m</p>
          </div>
        </div>
      </a>
  </li>
</ul>
