<header class="index-head">
  <a class="icon me" href="/home"></a>
  <div class="channel">
    <div class="wrap">
      <a href="/hot" class="active">热点</a>
      <a href="/best">爆点</a>
      <a href="/top">排行</a>
    </div>
  </div>
  <a class="icon search" href="/search"></a>
</header>
<section class="slider" id="slider">
  <div class="wrap">
    <div class="item"><img alt="11" src="img/2.jpg"/></div>
    <div class="item"><img alt="12" src="img/1.jpg"/></div>
    <div class="item"><img alt="13" src="img/3.jpg"/></div>
    <div class="item"><img alt="14" src="img/4.jpg"/></div>
  </div>
  <div class="points">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
<section class="channels">
  <div class="line">
    <a class="item movie">
      <div class="icon"></div>
      <div class="txt">电影</div>
    </a>
    <a class="item tv">
      <div class="icon"></div>
      <div class="txt">电视剧</div>
    </a>
    <a class="item variety">
      <div class="icon"></div>
      <div class="txt">综艺</div>
    </a>
    <a class="item anime">
      <div class="icon"></div>
      <div class="txt">动漫</div>
    </a>
  </div>
  <div class="line">
    <a class="item game">
      <div class="icon"></div>
      <div class="txt">游戏</div>
    </a>
    <a class="item ticket">
      <div class="icon"></div>
      <div class="txt">电影票</div>
    </a>
    <a class="item documentary">
      <div class="icon"></div>
      <div class="txt">纪录片</div>
    </a>
    <a class="item all">
      <div class="icon"></div>
      <div class="txt">全部</div>
    </a>
  </div>
</section>
<section class="mine">
  <a href="#">播放历史</a>
  <a href="#">我的离线</a>
  <a href="#">我的收藏</a>
</section>
<script type="text/javascript">
  var slider = $('#slider').Slider();
  slider.on('click', function(e, item){
    console.log(item);
  });
</script>