<header class="index">
  <a class="icon me" href="/home"></a>
  <div class="wrap">
    <nav>
      <a href="/hot" class="active">热点</a>
      <a href="/best">爆点</a>
      <a href="/top">排行</a>
    </nav>
  </div>
  <a class="icon search" href="/search"></a>
</header>
<section class="slider" id="slider">
  <div class="wrap">
	{{range .Slides}}
    <div class="item"><img alt="{{.Title}}" src="{{.Poster}}"/></div>
	{{end}}
  </div>
  <div class="points"></div>
</section>
<nav class="channels">
  <div class="line">
    <a class="item movie" href="/channel-dianying">
      <div class="icon"></div>
      <div class="txt">电影</div>
    </a>
    <a class="item tv" href="/channel-dianshiju">
      <div class="icon"></div>
      <div class="txt">电视剧</div>
    </a>
    <a class="item variety" href="/channel-zongyi">
      <div class="icon"></div>
      <div class="txt">综艺</div>
    </a>
    <a class="item anime" href="/channel-dongman">
      <div class="icon"></div>
      <div class="txt">动漫</div>
    </a>
  </div>
  <div class="line">
    <a class="item game" href="/channel-xinwen">
      <div class="icon"></div>
      <div class="txt">新闻</div>
    </a>
    <a class="item ticket" href="/channel-yule">
      <div class="icon"></div>
      <div class="txt">娱乐</div>
    </a>
    <a class="item documentary" href="/channel-jilupian">
      <div class="icon"></div>
      <div class="txt">纪录片</div>
    </a>
    <a class="item all" href="/channels">
      <div class="icon"></div>
      <div class="txt">全部</div>
    </a>
  </div>
</nav>
<section class="mine">
  <a class="history" href="/my-history">播放历史</a>
  <a class="favorite" href="/my-favorite">我的收藏</a>
</section>
{{range .Channels}}
<section class="channel">
  <nav>
    {{range $i, $group := .Groups}}
    <a href="#"{{if eq $i 0}} class="active"{{end}}>{{.Title}}</a>
    {{end}}
  </nav>
  <div class="items">
    {{range $i, $group := .Groups}}
    <div class="item fix{{if eq $i 0}} active{{end}}">
      {{range .Items}}
      <a href="#">
        <div class="thumb">
          <img src="{{.Poster}}"/>
          <span class="info">{{.Hint}}</span>
        </div>
        <div class="title">{{.Title}}</div>
      </a>
      {{end}}
    </div>
    {{end}}
  </div>
  <a href="#" class="more">{{.Title}}</a>
</section>
{{end}}
<script type="text/javascript">
  var slider = $('#slider').Slider();

  slider.on('click', function(e, item){
    console.log(item);
  });

  $('.channel').each(function(i, tab){
    $(tab).Tab({
      navSelector: 'nav',
      contentSelector: '.items',
    });
  });

  $(window).on("resize", function(){
	slider.resize();
  });
</script>
